.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}



#main_div {
    /* main background div */
    background-color: #e9f1ed;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
    overflow: auto;
    height: 100vh;
    width: 98%;
    /* position: relative; */
    display: flex;
    flex-direction: column;
}

#top_bar {
    /* top bar */
    display: flex;
    background-color: #ffb3b3;
    margin-bottom: 20px;
    border-radius: 30px;
    text-align: center;
    /* position: relative; */
    height: 200px;
    width: 100%;
    font-size: 90px;

    /* aligning vertically and horizontally */
    align-items: center;
    justify-content: center;
}

.graph_titles {
    display: flex;
    
    text-align: center;
    /* position: relative; */
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    /* font family to cursive */
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-size: 59px;
    font-style: normal;
}
body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
#choropleth {
    /* for the choropleth */
    display: flex;
    height: auto;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    /* position: relative; */
    overflow: auto;

    /* aligning vertically and horizontally */
    align-items: center;
    justify-content: center;

}

#bar_race_chart {
    /* for the bar race chart */
    display: flex;
    height: auto;
    width: 100%;
    margin-top: 30px;
    position: relative;
}

svg {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    border-width: 10px;
}
.inference-card {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inference-title {
    
    
    text-align: center;
    /* position: relative; */
   
    justify-content: center;

    /* font family to cursive */
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-size: 59px;
    font-style: normal;
}

.inference-text {
    font-size: 24px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.tooltip {
    color: black;
}