.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    /* removing default margin */
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: 'Anton', sans-serif;
}

#main_div {
    /* main background div */
    background-color: #dbd1d1;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: auto;
    height: 100vh;
    width: 98%;
    /* position: relative; */
    display: flex;
    flex-direction: column;
}

#top_bar {
    /* top bar */
    display: flex;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    border-radius: 30px;
    text-align: center;
    /* position: relative; */
    height: 200px;
    width: 100%;
    font-size: 90px;

    /* aligning vertically and horizontally */
    align-items: center;
    justify-content: center;
}

.graph_titles {
    display: flex;
    font-size: 59px;
    text-align: center;
    /* position: relative; */
    align-items: center;
    justify-content: center;
    margin-top: 100px;

    /* font family to cursive */
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

#choropleth {
    /* for the choropleth */
    display: flex;
    height: auto;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    /* position: relative; */
    overflow: auto;

    /* aligning vertically and horizontally */
    align-items: center;
    justify-content: center;

    /* border work */
    border: 7px dashed rgb(172, 172, 255);
    border-radius: 20px;
}

#bar_race_chart {
    /* for the bar race chart */
    display: flex;
    height: auto;
    width: 100%;
    margin-top: 30px;
    position: relative;
}

svg {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    border-width: 10px;
}

.tooltip {
    color: black;
}